<div class='overlay-background'>
  <div class='overlay-form recipe-full'>
    <h1>{{recipe.name}}</h1>
    <h2>By: {{recipe.cook.name}}</h2>
    <button class='logged-in recipe-favorite' data-id='{{recipe.id}}'>Favorite</button>
    <button class='overlay-exit' type='button'>x</button>
    <div class='recipe-ingredients'>
      <h3>Ingredients:</h3>
      <ul>
        {{#each recipe.ingredients as |ingredient|}}
        <li>{{ingredient.amount}}{{#if ingredient.amount}}{{#if ingredient.name}} of {{/if}}{{/if}}{{ingredient.name}}</li>
        {{/each}}
      </ul>
    </div>
    <div class='recipe-steps'>
      <h3>Steps:</h3>
      <ul>
        {{#each recipe.steps as |step|}}
        <li>{{step.title}}{{#if step.title}}{{#if step.instructions}}: {{/if}}{{/if}}{{step.instructions}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
