<div class='overlay-background'>
  <div class='overlay-form recipe-full'>
    <div class='form-header flex-space'>
      <h1>{{recipe.name}}</h1>
      <div class='overlay-buttons'>
        <span>Favorites: {{recipe.favorites.length}}</span>
        <span class='fav-edit-button' data-id='{{recipe.id}}'></span>
        <button class='overlay-exit' type='button'>x</button>
      </div>
    </div>
    <h4>By: {{recipe.cook.name}}</h4>
    <div class='recipe-ingredients'>
      <h3>Ingredients:</h3>
      <ul>
        {{#each recipe.ingredients as |ingredient|}}
        <li>{{ingredient.amount}}{{#if ingredient.amount}}{{#if ingredient.name}} of {{/if}}{{/if}}{{ingredient.name}}</li>
        {{/each}}
      </ul>
    </div>
    <div class='recipe-steps'>
      <h3>Steps:</h3>
      <ul>
        {{#each recipe.steps as |step|}}
        <li><b>{{step.title}}</b>{{#if step.title}}{{#if step.instructions}}:<br>{{/if}}{{/if}}{{step.instructions}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
