{{#each recipes as |recipe|}}
  <button class='recipe-preview recipe-show' data-id='{{recipe.id}}'>
    <div class='form-header flex-space'>
      <h4 data-id='{{recipe.id}}'>{{recipe.name}}</h4>
      <div class='preview-buttons'>
        <span class='logged-in fav-edit-button' data-id='{{recipe.id}}'></span>
      </div>
    </div>
    <h6 data-id='{{recipe.id}}'>By: {{recipe.cook.name}}</h6>
    <h6 data-id='{{recipe.id}}'>Favorites: {{recipe.favorites.length}}</h6>
  </button>
{{/each}}
